*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    max-width: 1440px;
    background-image: url(../img/bg.png);
}
.navber{
    border-radius: 13px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    background-color: coral;
    /* background: -webkit-linear-gradient(bottom,rgba(218, 176, 39, 0.67), rgb(116, 219, 235) ); */
}
.nav-links{
    display: flex;
    gap: 30px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: black;
}
.nav-btn{
    height: 40px;
    width: 120px;
    /* background-color: orange; */
    border-radius: 10px;
    border:none;
    box-shadow: 1px 1px 1px black;
    margin-bottom: 20px;
    border: 1px solid black;
}
.nav-btn:hover{
    height: 45px;
    width: 130px;
    background: -webkit-linear-gradient(bottom,white, rgb(22, 228, 8) );

} 
/* nav section end  */
.katun-main-header{
        text-align: center;
        margin-top: 150px;
        font-size: 4.5rem;
        text-shadow: 2px 2px 3px ;
}
.home-container{
    display: flex;
    margin-top: 100px;
}
.right-text{
    margin-right: 20px;
    margin-left: 100px;
    border: 2px solid rgb(209, 197, 197);
    padding: 60px;
    background-color: rgb(253, 252, 248);
    box-shadow: 8px 8px 20px rgba(128, 128, 128, 0.385) ;

}

.rakib-header{
    font-weight: 900;
    font-size: 2rem;
}
.first-p{
    padding: 20px;
    font-size: 17px;
}
.gray-color{
    color: rgb(75, 77, 76);
}
.home-btn{
        padding: 30px;
        font-size: 25px;
        border-radius: 10px;
        border: none;
        background: orange;
        border: 1px solid black;
        margin-left: 250px;
        
}
.home-btn:hover{
    /* background-color: white; */
    font-weight: 600;
    text-shadow: 1px 1px cornflowerblue;
  background: -webkit-linear-gradient(bottom,rgba(230, 228, 223, 0.67), rgb(116, 219, 235) );
}
.second-h-one{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    font-size: 4rem;
    margin-top: 150px;
    text-shadow: 2px 2px 2px ;
    justify-content: center;
    

}
/* home section end  */
.edur-container{
    display: flex;
    margin-top: 150px;
}
.panda-pic{
    margin-left: 120px;
}
.khorgos-img{
    margin-right: 120px;
}
.edur-text{
    border-radius: 10px;
    background-color: white;
    padding: 50px;
    box-shadow: 8px 8px 8px  rgba(128, 128, 128, 0.699) ;
}
.card-title{
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    
}
.card-pt{
    font-size: 20px;
    padding: 20px;
}
.cd-btn{
   padding: 40px;
   border: none;
   font-size: 15px;
   background-color: gray;
   margin-left: 200px;
}
.horen-img{
    margin-left: 120px;
}
.edur-last{
    margin-right: 130px;
}

footer{
    margin-top: 200px;
}
.icon-gap{
    display: flex;
    grid-template-columns: 5, 1fr;
    gap: 50px;
    
}
.second-h-one {
    display: flex;
    
}
.margen-left-footer{
    margin-left: 200px;
    justify-content: center;

}
section{
    background: -webkit-linear-gradient(bottom,#3457804c, white );
    box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.287) ;

}
.edur-text{
    margin-left: 20px;
    margin-right: 20px ;
}

 /* small box grid section  */

.small-box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 150px;
    margin-top: 200px;
    gap: 50px;
    
}
.box{
    height: 320px;
    width: 300px;
    padding: 30px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 2px gray;
    border-radius: 20px;

}
.small-btn{
    width: 150px;
    height: 30px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 2px gray;
}
.small-btn:hover{
    background-color:orange;
}
.small-header-s{
    margin-bottom: 10px;
}
.small-header-st{
    margin-bottom: 10px;
}
.small-header-gray{
    color: rgb(46, 46, 47);
}

@media only screen and (max-width:576px) {
    .nav-links{
        flex-direction: column-reverse;
        margin-right: 40px;
        text-shadow: 4px 4px 4px ;
        padding-bottom: 20px;
    }
    .nav-btn{
       margin-left: -150px;
       background-color:white;
       box-shadow: 4px 4px 4px rgba(100, 148, 237, 0.662);
    }
    .hero-katun{
        text-shadow: 4px 4px 4px rgba(229, 10, 207, 0.438);
        padding: 10px;
       margin-left: 80px;
       font-size: 50px;
    }
    .home-container{
        flex-direction: column;
    }
    .right-text{
        margin-right: 70px;
        box-shadow: none;
    }
    .home-btn{
        padding: 20px;
        font-size: 25px;
        border-radius: 10px;
        border: none;
        background: orange;
        margin-left: 40px;
}
.bag-img{
    width: 550px;
}
}

@media only screen and (max-width:405px) {
    
    .bag-img{
        width: 400px;
    }
    .nav-links{
        flex-direction: column;
        margin-right: 40px;
        text-shadow: 4px 4px 4px ;
    }
    .nav-btn{
       margin-left: -150px;
       background-color: aquamarine;
       box-shadow: 4px 4px 4px rgba(100, 148, 237, 0.662);
    }
    .hero-katun{

        text-shadow: 4px 4px 4px rgba(229, 10, 207, 0.438);
        padding: 10px;
       margin-left: 80px;
       font-size: 30px;
    }
    .right-text{
        margin-left: -10px;
        margin-right: -10px;
       
    }
    .katun-main-header{
        color:rgb(255, 38, 0);
        text-shadow: 3px 3px 3px black;
    }
    .navber{
        padding-top: 40px;
        margin-top: auto;
        border-radius: 0%;
    }
    .edur-container{
        flex-direction: column-reverse;
    }
   .cd-btn{
    margin-left: 90px;
    border-radius: 10px;
    background-color: black;
   }
   .coloum-revers-m{
    flex-direction: column;
   }
   .edur-text{
    padding: 10px;
   }
   .icon-gap{
    display: flex;
    /* grid-template-columns: 5, 1fr; */
    gap: 10px;
   }
  .margen-left-footer{
   margin-left: 0px;
  }
  
  .second-h-one{
    font-size: 3rem;
  }
  .small-box-container{
    /* display: grid; */
    grid-template-columns: repeat(1, 1fr);
    margin-left: 50px;
  }
}

